.cursor {
  position: fixed;
  top: 0;
  left: 0;
  width: 16px;
  height: 16px;
  background-color: var(--color-accent); 
  border-radius: 50%;
  pointer-events: none;
  z-index: 9999;
  transform: translate(-50%, -50%);
  transition: 
      transform 0.4s ease-out,
      width 0.2s ease-out,
      height 0.2s ease-out;
  will-change: transform;
}


.cursor-hover {
  width: 24px;
  height: 24px;
  background-color: #FF7B00; 
}

.cursor-active {
  transform: translate(-50%, -50%) scale(0.9);
}